
@media screen and (min-width:481px) {
    #login-register{
        display: flex;
        white-space: nowrap;
    }
    .register-button,.login-button{
        padding:1rem;
    }
    .red-onion-icon{
        width: 25%;
    }
    .login_form,.register_form,.reset_section{
        width: 25%;
    }
    .article-section{
        width: 50%;
    }
    .map-section{
        width:100%;
        height:100%;
    }
   
  }
  @media screen and (max-width: 480px) {
    
    #login-register{
        display: flex;
        white-space: nowrap;
    }
    .register-button,.login-button{
        padding:0.5rem;
    }
    .red-onion-icon{
        width: 75%;
    }
    .login_form ,.register_form,.reset_section{
        padding: 0 20px;
    }
    .article-section{
        width: 100%;
        padding: 0 5px;
    }
    .map-section{
        width:95%;
        height:80%;
        margin: 0 auto;
    }
    
  }